/* ================================ GLOBAL ZOOM ===================================*/
body {
  zoom: 200%;
}

/* ================================ HEADER ===================================*/
header {
  background: #000;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container .logo {
  width: 120px;
}

nav a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover, nav .active {
  color: #00ff47;
}

.social a {
  margin-left: 12px;
  color: #00ff47;
  font-weight: bold;
  text-decoration: none;
}

/* ================================ BANNIÈRE ===================================*/
.molha-banner-wrapper {
  width: 100%;
}

.molha-banner-img {
  width: 100%;
  height: auto;
  display: block;
}

/* ================================ FORM SECTION ===================================*/
.form-section {
  max-width: 850px;
  margin: 40px auto;
  background: #ff4d4d;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px #000;
}

.form-section h1, 
.form-section h1 {
  text-align: center;
  color: #0b1f5c; /* BLE FWONSE */
  margin-bottom: 20px;
  border-bottom: 2px solid #00ff47;
  padding-bottom: 8px;
}

/* Labels */
label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  color: #0b1f5c; /* BLE FWONSE */
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="date"],
textarea {
  width: 200%;
  padding: 12px;
  border: 1px solid #555;
  background: #ffffff; /* BLAN */
  color: #0b1f5c; /* BLE FWONSE */
  border-radius: 6px;
  margin-top: 5px;
  font-size: 20px;
}

textarea {
  min-height: 120px;
}

/* LINES EXEC & REF */
.exec-line, 
.ref-line {
  display: flex;
  gap: 15px;
  margin-top: 12px;
}

.exec-line input, 
.ref-line input {
  flex: 1;
}

/* Bouton Envoyer */
.submit-btn {
  margin-top: 25px;
  width: 100%;
  padding: 15px;
  background: #00cc3a;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #00ff47;
}

/* ================================ FOOTER ===================================*/
footer {
  background: #000;
  color: white;
  padding: 25px;
  margin-top: 60px;
  text-align: center;
}

.social-footer a {
  margin: 0 12px;
  color: #00ff47;
  font-weight: bold;
  text-decoration: none;
}
